In [1]:
import pandas as pd

Form a graph with people as nodes with edges between them if they have starred in the same movie. Search for some correlation between how well connected people are and the kind of movies they have performed in / the type of role they have etc.
Once such hypotheses have been formed, test them in a similar graph in the imdb movie dataset to see if they hold there as well. 

Test the hypothesis that an uncommon combination of genres means a somewhat extreme box office collection - either low or high



Is benford's law scale invariant?

In [3]:
movie_df = pd.read_csv('data/movie.metadata.tsv', sep='\t', names=['wiki_movie_id', 'freebase_movie_id', 'title', 'release_date', 'box_office_revenue', 'runtime', 'languages', 'countries', 'genres'], index_col='freebase_movie_id')
movie_df

,wiki_movie_id,title,release_date,box_office_revenue,runtime,languages,countries,genres
freebase_movie_id,,,,,,,,
/m/03vyhn,975900,Ghosts of Mars,2001-08-24,14010832.0,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/01jfsb"": ""Thriller"", ""/m/06n90"": ""Science..."
/m/08yl5d,3196793,Getting Away with Murder: The JonBenét Ramsey ...,2000-02-16,NaN,95.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/02n4kr"": ""Mystery"", ""/m/03bxz7"": ""Biograp..."
/m/0crgdbh,28463795,Brun bitter,1988,NaN,83.0,"{""/m/05f_3"": ""Norwegian Language""}","{""/m/05b4w"": ""Norway""}","{""/m/0lsxr"": ""Crime Fiction"", ""/m/07s9rl0"": ""D..."
/m/0285_cd,9363483,White Of The Eye,1987,NaN,110.0,"{""/m/02h40lc"": ""English Language""}","{""/m/07ssc"": ""United Kingdom""}","{""/m/01jfsb"": ""Thriller"", ""/m/0glj9q"": ""Erotic..."
/m/01mrr1,261236,A Woman in Flames,1983,NaN,106.0,"{""/m/04306rv"": ""German Language""}","{""/m/0345h"": ""Germany""}","{""/m/07s9rl0"": ""Drama""}"
...,...,...,...,...,...,...,...,...
/m/0j7hxnt,35228177,Mermaids: The Body Found,2011-03-19,NaN,120.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/07s9rl0"": ""Drama""}"
/m/0g4pl34,34980460,Knuckle,2011-01-21,NaN,96.0,"{""/m/02h40lc"": ""English Language""}","{""/m/03rt9"": ""Ireland"", ""/m/07ssc"": ""United Ki...","{""/m/03bxz7"": ""Biographical film"", ""/m/07s9rl0..."
/m/02pygw1,9971909,Another Nice Mess,1972-09-22,NaN,66.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/06nbt"": ""Satire"", ""/m/01z4y"": ""Comedy""}"
/m/03pcrp,913762,The Super Dimension Fortress Macross II: Lover...,1992-05-21,NaN,150.0,"{""/m/03_9r"": ""Japanese Language""}","{""/m/03_3d"": ""Japan""}","{""/m/06n90"": ""Science Fiction"", ""/m/0gw5n2f"": ..."
/m/02w7zz8,12476867,Spliced,2002,NaN,86.0,"{""/m/02h40lc"": ""English Language""}","{""/m/0d060g"": ""Canada""}","{""/m/01jfsb"": ""Thriller"", ""/m/03npn"": ""Horror""..."

In [8]:
col_names = ["wiki_movie_id", "freebase_movie_id", "movie_release_date", "character_name", "actor_date_of_birth", "Actor gender", "Actor height (in meters)", "Actor ethnicity (Freebase ID)", "Actor name", "Actor age at movie release", "Freebase character/actor map ID", "Freebase character ID", "Freebase actor ID"]
character_df = pd.read_csv('data/character.metadata.tsv', sep='\t', names=col_names, index_col="Freebase character ID")
character_df.columns

Index(['wiki_movie_id', 'freebase_movie_id', 'movie_release_date',
       'character_name', 'actor_date_of_birth', 'Actor gender',
       'Actor height (in meters)', 'Actor ethnicity (Freebase ID)',
       'Actor name', 'Actor age at movie release',
       'Freebase character/actor map ID', 'Freebase actor ID'],
      dtype='object')

In [ ]:
character_df.groupby(['character_name']).count()

,wiki_movie_id,freebase_movie_id,movie_release_date,actor_date_of_birth,Actor gender,Actor height (in meters),Actor ethnicity (Freebase ID),Actor name,Actor age at movie release,Freebase character/actor map ID,Freebase actor ID
character_name,,,,,,,,,,,
Humble,1,1,1,1,1,0,0,1,1,1,1
Prancer,1,1,1,0,1,0,0,1,0,1,1
Umeko Tsuda,1,1,1,1,1,1,0,1,1,1,1
'2-Gun' Gertie Baxter,2,2,2,1,1,1,0,2,1,2,2
'3-5-0-0' Soloist,2,2,2,2,2,0,1,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...
Über-Morlock,1,1,1,1,1,1,1,1,1,1,1
Þórarinn Skólastjóri,1,1,1,0,1,0,0,1,0,1,1
Þóroddur,1,1,1,0,1,0,0,1,0,1,1
Şaban,3,3,3,3,3,0,0,3,2,3,3
Калибан,1,1,1,1,1,1,1,1,1,1,1

In [6]:
oscar_df = pd.read_csv('data/the_oscar_award.csv')
oscar_df

,year_film,year_ceremony,ceremony,category,name,film,winner
0,1927,1928,1,ACTOR,Richard Barthelmess,The Noose,False
1,1927,1928,1,ACTOR,Emil Jannings,The Last Command,True
2,1927,1928,1,ACTRESS,Louise Dresser,A Ship Comes In,False
3,1927,1928,1,ACTRESS,Janet Gaynor,7th Heaven,True
4,1927,1928,1,ACTRESS,Gloria Swanson,Sadie Thompson,False
...,...,...,...,...,...,...,...
10884,2023,2024,96,WRITING (Original Screenplay),Written by Celine Song,Past Lives,False
10885,2023,2024,96,JEAN HERSHOLT HUMANITARIAN AWARD,NaN,NaN,True
10886,2023,2024,96,HONORARY AWARD,"To Angela Bassett, who has inspired audiences ...",NaN,True
10887,2023,2024,96,HONORARY AWARD,"To Mel Brooks, for his comedic brilliance, pro...",NaN,True
10888,2023,2024,96,HONORARY AWARD,"To Carol Littleton, whose commitment to her cr...",NaN,True

This join needs to be checked. 
Joining with ignore case? 
Do we want to do a right join? (so also keep movies that did not win oscars)

In [ ]:
merged_df = oscar_df.merge(movie_df, left_on='film', right_on='title', how='inner')
merged_df

In [ ]:
# number of movie names in common between the two datasets
len(set(movie_df['title'].str.lower().str.strip()).intersection(set(oscar_df['film'].str.lower().str.strip())))

In [ ]:
len(set(oscar_df['film'].str.lower().str.strip()))

In [ ]:
len(set(oscar_df.loc[oscar_df['year_ceremony'] <= 2016].loc[oscar_df['year_ceremony'] >= 1928, 'film'].str.lower().str.strip()))

In [ ]:
len(set(movie_df['title'].str.strip()).intersection(set(oscar_df['film'].str.strip())))